<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pool App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse main-menu">
        <h2>Realtime Invoicing</h2>
        <ul class="login-modal">
            <li>@Html.Partial("_LoginPartial")</li>
        </ul>
    </div>
    <div class="body-content cf">
        @RenderBody()
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.tpls.js"></script>
    @*<script src="~/Scripts/angular-file-upload-shim.min.js"></script>
    <script src="~/Scripts/angular-file-upload.min.js"></script>*@
    <script src="~/Angular/js/main.js"></script>
    <script src="~/Angular/js/config/customers.config.js"></script>
    <script src="~/Angular/js/config/invoice.config.js"></script>
    <script src="~/Angular/js/config/main.config.js"></script>
    <script src="~/Angular/js/config/products.config.js"></script>
    <script src="~/Angular/js/config/service.config.js"></script>
    <script src="~/Angular/js/controllers/main.controller.js"></script>
    <script src="~/Angular/js/controllers/customers.controller.js"></script>
    <script src="~/Angular/js/controllers/invoice.controller.js"></script>
    <script src="~/Angular/js/controllers/products.controller.js"></script>
    <script src="~/Angular/js/controllers/service.controller.js"></script>
    @*<script src="~/Angular/js/main.constants.js"></script>*@

</body>
</html>
