<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pool App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <ul>
            <li>
                @Html.ActionLink("PoolApp","Index","Angular")
            </li>
            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Angular/test.js"></script>
    <script src="~/Angular/test.config.js"></script>
    <script src="~/Angular/test.controller.js"></script>
</body>
</html>
